<div class="mb-3">
  <%= form.label :name, "ユーザー名", class: 'form-label' %>
  <%= form.text_field :name, class: 'form-control', placeholder: 'ユーザー名を入力してください' %>
</div>
<div class="mb-3">
  <%= form.label :password, "パスワード", class: 'form-label' %>
  <%= form.password_field :password, class: 'form-control', placeholder: 'パスワードを入力してください' %>
</div>