<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% @orders.each do |order| %>
  <%= link_to order.id,cart_order_path(order.cart, order) %>
  <%= order.id %>
  <%= order.last_name %>
<% end %>

