<header class="bg-primary py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">商品追加</h1>
      <p class="lead fw-normal text-white-50 mb-0">管理画面</p>
    </div>
  </div>
</header>
<section class="py-5 container">
  <%= form_with model: @product, url: admin_products_path, data: { turbo_method: :post }, multipart: true, local: true do | form | %>
    <%= render partial: '/admin/products/form', locals: { product: @product, form: form} %>
    <%= form.submit '追加', class: 'btn btn-outline-dark' %>
  <% end %>
</section>
