<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <%= render partial: 'product_show', locals: { product: @product} %>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">関連商品</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <%= render partial: 'list', locals: { products: @related_products} %>
    </div>
  </div>
</section>
